html {
	background-color: #161617;
}

/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
  margin-right: 5px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 0%;          /* округляем кнопку */
  border: none;                /* отключаем обводку */
  background: #232344;         /* задаем серый цвет кнопки */
  color: #fff;                /* задаем белый цвет текста внутри кнопки */
  font-size: 1.5rem;           /* увеличим размер шрифта */
  font-family: Georgia, sans-serif; /* сменим шрифт */
  cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                  со стрелки на 'указательный палец' */
  user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  font-weight: bold;
} 

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: #4A4547; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(110%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary { 
  background: #333333; /* цвет кнопки оранжевый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary { 
  background: #418af4; /* цвет кнопки сервый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute { 
  width: 110px;          /* сделаем кнопку шире других */
  /*border-radius: 34px;    подкорректируем округлость */
}

/* селектор для поля вывода результата */
.result { 
  width: 300px;
  height: 60px;
  margin-bottom: 15px;         /* отступ снизу */
  padding-right: 10px;         /* выступ справа */
  background: rgb(100, 100, 100); /* цвет можно задавать и таким образом */
  text-align: right;           /* примагнитим текст к правой стороне */
  color: #ffffff;              /* цвет текста белый */
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.text{
	color:#fff;
	font-family: Calibri, sans-serif;
}

.main {
	justify-items: center;
	
}
html{
	background-image: url('фон.jpg');
	background-size: cover;
}

.theme {
	margin-bottom: 10px;
	width: auto;
	height: auto;
	font-size: 1rem;
	font-weight: lighter;
}


.my-list{
	color: #c9cccf;
	background: #333333;
	border: none;
	padding: 5px;
	margin: 5px;
}

.my-box {
	background: #2c2c2d;
	border: 1px solid #334e6400;
}